/*  your css code here. If applicable */

body {
    font-family: Arial, sans-serif;
    background-color:#f5f5f5;
	text-align: center;
  }

header{
  background-color: #011e29;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container {
  position: relative;
  text-align: center;
  margin-top:10px;
}

.item1{
  vertical-align:top;
  background-color: white;
  display:inline-block;
  width:20%;
  padding: 20px;
  border-radius:20px;
}

.item2{
  vertical-align:top;
  display:inline-block;
  width:40%;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius:20px;
}
.item3{
  vertical-align:top;
  display:inline-block;
  background-color: white;
  width:20%;
  padding: 20px;
  text-align: center;
  border-radius:20px;
}

.item3 img {
	width: 150px;
	height: 100px;
	margin-top:10px;
}
